/*COMMON*/
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  /*INNER*/
  .inner {
    /* width: 1100px; */
    margin: 0 auto;
    position: relative;
  }

  .container{
    width: 1100px;
  }

  /*HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #ffffff;
    border-bottom: 1px solid #c8c8c8;
  }
  header > .inner {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header .logo {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .logo img {
    background-color: #000;
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
  

  header .sub-menu {
    position: absolute;
    display: flex;
    align-items: center;
  }
  header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 0;
    list-style: none;
  }
  header .sub-menu ul.menu li {
    position: relative;
  }
  header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  header .sub-menu ul.menu li:first-child::before {
    display: none;
  }
  header .sub-menu ul.menu li a {
    padding: 11px 15px;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #656565;
  }
  header .sub-menu ul.menu li a:hover {
    color: #000;
  }

  /* menu-trigger */

  input[id="icon"] {
    display:none;
  } 
  
  input[id="icon"] + label{
    position: relative;
    display:block;
    width:60px;
    height:35px;
    cursor:pointer;
  } 
  
  input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:70%;
    height:5px;
    border-radius:30px;
    background:#000;
    transition: all 0.35s;
    z-index:2;
  }
  
  input[id="icon"] + label > span:nth-child(1) {
    top:0px;
  }
  
  input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  
  }
  
  input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
  }
  
  input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
  }
  
  input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  
  input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
  }
  
  .menu-category ul {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
  }
  
  .menu-category ul li {
    margin: 20px 0;
  }
  
  .menu-category ul li a{
    color: #ffffff;
  }
  
  #icon + label + .menu-category {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);
    top: -100%;
    padding: 60px 25px 25px 25px;
    box-sizing: border-box;
    left: 0;
    z-index: 1;
    transition: all 0.35s;
  }
  
  #icon:checked + label + .menu-category {
    top:0px;
  }
  


  /* 프로젝트 페이지 슬라이드 */


.container{
  margin-top: 200px;
  width: 100%;
  height: 600px;
}

.container2{
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

.container3{
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

.carousel-wrapper, .carousel-wrapper2, .carousel-wrapper3{
  overflow: hidden;
  width: 70%;
  height: 100%;
  margin: 0 auto; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.carousel-wrapper .carousel img, .carousel-wrapper2 .carousel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.carousel-wrapper, .carousel-wrapper2 * {
  box-sizing: border-box;
}

.carousel, .carousel2, .carousel3{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel_item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.carousel_item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel_item.prev,
.carousel_item.next {
  z-index: 800;
}

.carousel_item.prev {
  transform: translateX(-100%);
}

.carousel_item.next {
  transform: translateX(100%);
}

.carousel_button--prev,
.carousel_button--next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 1px solid lightgray;
}

.carousel_button--prev {
  left: 10px;
}

.carousel_button--next {
  right: 10px;
}

.carousel_button--prev::after,
.carousel_button--next::after {
  content: ' ';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 54%;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel_button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}



@media screen and (max-width: 1200px) {
  header .sub-menu ul.menu li a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1000px) {
  header .sub-menu ul.menu li a {
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 850px) {
  header .sub-menu ul.menu li a {
    font-size: 0.9rem;
    display: none;
  }

  header .sub-menu ul.menu li::before {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .menu-trigger {
    display: none;
  }
}