<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/project-page-about.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="logo">
          <a href="http://127.0.0.1:5500/main_page.html">
            <img src="../Logo.png" alt="" />
          </a>
        </div>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="javascript:void(0)">About</a>
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/Project-Page.html"
                >Project</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">Contact</a>
            </li>
            <li>
              <a href="javascript:void(0)">Process</a>
            </li>
            <li>
              <a href="javascript:void(0)">Manager</a>
            </li>
          </ul>
        </div>

        <div class="menu-trigger">
          <input type="checkbox" id="icon" />
          <label for="icon">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <div class="menu-category">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Process</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- 이미지 넣을 공간(나중에 수정하기) -->
      <div class="input-img-container">
        <!-- <div class="input-img"></div> -->
        <img class="input-img" src="../about_임시img.jpg" />
      </div>

      <div class="input-text">
        <p>심미적인 아름다움, 앞서나가는 트렌드도 좋지만</p>
        <p>고객의 니즈를 반영하고 만족시키는 것을</p>
        <p>더 우선하며 디자인합니다.</p>
        <br />
        <p><b>시서태(施書泰) 스페이스</b>는</p>
        <p>배풀고 펼치고 크게하는 공간을 의미하고 있습니다.</p>
        <p>
          시서태의 이름처럼 고객의 만족에 집중하는 공간을 만들어 드리겠습니다.
        </p>
      </div>
    </main>
  </body>
</html>
