<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/project_page.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner">
            <div class="logo">
                <a href="http://127.0.0.1:5500/main_page.html">
                    <img src="../Logo.png" alt="" />
                </a>
            </div>

            <div class="sub-menu">
                <ul class="menu">
                    <li>
                        <a href="javascript:void(0)">About</a>
                    </li>
                    <li>
                        <a href="javascript:void(0">Project</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Contact</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Process</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div id="slideShow">
                <ul class="slides">
                    <li><img src="../images/KakaoTalk_Photo_2023-06-03-22-21-12 002.png" alt=""></li>
                    <li><img src="../images/KakaoTalk_Photo_2023-06-03-22-21-44 007.png" alt=""></li>
                    <li><img src="../images/KakaoTalk_Photo_2023-06-03-22-21-46 008.png" alt=""></li>
                </ul>
                <p class="controller">

                    <!-- &lang: 왼쪽 방향 화살표
              &rang: 오른쪽 방향 화살표 -->
                    <span class="prev">&lang;</span>
                    <span class="next">&rang;</span>
                </p>
            </div>
        </div>

        <script src="../js/project_page_scroll.js"></script>
    </main>
</body>

</html>