<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/project_page.css" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="logo">
          <a href="http://127.0.0.1:5500/main_page.html">
            <img src="../Logo.png" alt="" />
          </a>
        </div>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="http://127.0.0.1:5500/views/Project-Page-About.html"
                >About</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">Project</a>
            </li>
            <li>
              <a href="javascript:void(0)">Contact</a>
            </li>
            <li>
              <a href="javascript:void(0)">Process</a>
            </li>
          </ul>
        </div>

        <div class="menu-trigger">
          <input type="checkbox" id="icon" />
          <label for="icon">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <div class="menu-category">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Process</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="carousel-wrapper">
          <div class="carousel">
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-47 009.png"
            />
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-17 010.png"
            />
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-13 004.png"
            />

            <div class="carousel_button--next"></div>
            <div class="carousel_button--prev"></div>
          </div>
        </div>
      </div>

      <div class="container2">
        <div class="carousel-wrapper2">
          <div class="carousel">
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-40 002.png"
            />
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-44 007.png"
            />
            <img
              class="carousel_item"
              src="../images/KakaoTalk_Photo_2023-06-03-22-21-46 008.png"
            />

            <div class="carousel_button--next"></div>
            <div class="carousel_button--prev"></div>
          </div>
        </div>
      </div>

      <script src="../js/project_page_scroll.js"></script>
    </main>
  </body>
</html>
